In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [3]:
for i in range(10):
    if i == 5:
        break  # Exit the loop
    print(i)

0
1
2
3
4

In [4]:
for i in range(10):
    if i % 2 == 0:
        continue  # Skip the rest of the loop for even numbers
    print(i)

1
3
5
7
9

In [5]:
def greet(name):
    return name

message = greet("Alice")
print(message)

Alice

In [6]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero")
finally:
    print("This will always execute")

Cannot divide by zero
This will always execute

In [ ]:
# Mutable

In [7]:
# List

name = ['Vikram', 'Anshul', 'Amit', 'Suresh']

name.append('Kamal')

print(name)

['Vikram', 'Anshul', 'Amit', 'Suresh', 'Kamal']

In [8]:
# Dictionary

employee = {'name' : 'Vikram', 'age' : 30, 'department' : 'Content Management'}

employee['department'] = 'Editorial'

print(employee)

{'name': 'Vikram', 'age': 30, 'department': 'Editorial'}

In [9]:
# Set

name = {'Vikram', 'Anshul', 'Amit', 'Suresh'}

print("Original set:", name)

name.add("Kunal")
print("After adding 'Kunal':", name)

name.remove("Amit")
print("After removing 'Amit':", name)

# Adding multiple elements using the update method
name.update(["Ankit", "Harsh"])
print("After adding 'Ankit' and 'Harsh':", name)

Original set: {'Suresh', 'Vikram', 'Amit', 'Anshul'}
After adding 'Kunal': {'Vikram', 'Amit', 'Kunal', 'Anshul', 'Suresh'}
After removing 'Amit': {'Vikram', 'Kunal', 'Anshul', 'Suresh'}
After adding 'Ankit' and 'Harsh': {'Harsh', 'Vikram', 'Kunal', 'Ankit', 'Anshul', 'Suresh'}

In [ ]:
# Immutable

In [10]:
# Int 

x = 10
x = x + 5  # This creates a new integer object and assigns it to x
print(x)

15

In [11]:
# Float

y = 3.14
y = y * 2  # This creates a new float object and assigns it to y
print(y)

6.28

In [12]:
# boolean

is_active = True
is_active = not is_active  # This creates a new boolean object and assigns it to is_active
print(is_active)

False

In [16]:
# String

text = "Hello"
text = text + " World"  # This creates a new string object and assigns it to text
print(text)

Hello World

In [13]:
# Tuple

tuple = (10, 20)
new_tuple = tuple + (30, 40)  # This creates a new tuple object
print(new_tuple)

(10, 20, 30, 40)

In [14]:
# Frozenset

fs = frozenset([1, 2, 3])
new_fs = fs.union([4, 5])  # This creates a new frozenset object
print(new_fs)

frozenset({1, 2, 3, 4, 5})

In [15]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [17]:
print(2**3)

8

In [18]:
x = 6
x**=2
print(x)

36

In [19]:
x = 6
x//=2
print(x)

3

In [20]:
x = 6
x%=2
print(x)

0

In [ ]:
# explain the concept of type casting in python with examples

In [4]:
# implicit type conversion

a = 1.5
print(f"a = {a} and Data type = {type(a)}")  
  
# Initializing the value of b  
b = 4
print(f"b = {b} and Data type = {type(b)}")  
  
# Initializing the value of c  
c = 4  
print(f"c = {c} and Data type = {type(c)}")  
  
# Initializing the value of d  
d = 5.0  
print(f"d = {d} and Data type = {type(d)}")  
  
# Performing arithmetic operations between integers and float  
res = a * b  
print(f"The product of a and b is {res}, Data type = {type(res)}")  
  
add = c + d  
print(f"The addition of c and d is {add}, Data type = {type(add)}")

a = 1.5 and Data type = <class 'float'>
b = 4 and Data type = <class 'int'>
c = 4 and Data type = <class 'int'>
d = 5.0 and Data type = <class 'float'>
The product of a and b is 6.0, Data type = <class 'float'>
The addition of c and d is 9.0, Data type = <class 'float'>

In [5]:
# explicit type conversion

a = 10.6  
print(f"a = {a}, Data Type = {type(a)}")  
a = int(a)  
print(f"a = {a}, Data Type = {type(a)}")  
  
# Typecasting a string value into an integer value explicitly  
b = "12"  
print(f"b = {b}, Data Type = {type(b)}")  
b = int(b)  
print(f"b = {b}, Data Type = {type(b)}")

a = 10.6, Data Type = <class 'float'>
a = 10, Data Type = <class 'int'>
b = 12, Data Type = <class 'str'>
b = 12, Data Type = <class 'int'>