In [1]:
# numerical data type
x=5
print(type(x))

<class 'int'>

In [2]:
#Float
price = 26.56
print(type(price))

<class 'float'>

In [4]:

num = 3e6
print(num)
print(type(num))

3000000.0
<class 'float'>

In [6]:
# Complex
z = 4 + 5j
print(z)
print(type(z))

(4+5j)
<class 'complex'>

In [7]:
# inbuilt function
print(abs(-5))

5

In [9]:
print(round(4.75))
print(round(4.5))
print(round(4.7))

5
4
5

In [10]:
print(pow(2,3))

8

In [13]:
# Minimum and maximum
nums = [3,5,6,7,8,1]

print(min(nums))

print(max(nums))

print(sum(nums))

1
8
30

In [ ]:
# Sequence data type
Group / sequence of character and using single and double qoute and triple quote

In [15]:
name = 'pratap'
city = "Surat"
Country = '''India'''
print(type(name))
print(type(city))
print(type(Country))

<class 'str'>
<class 'str'>
<class 'str'>

In [16]:
msg = '''
Hello my dear friends,
this is my learning!
'''
print(type(msg))

<class 'str'>

In [17]:
# index 
  index is " + " start left to right
  index is " - " start right to left


  [0,length-1]
  [-1,-length]

  string is immutable : easy and safe to work in the concurent env

  password is immutable

t

In [ ]:
name = "pratap sarvaiya"
print(name[3])

In [21]:
print(name[12])

i

In [ ]:
# string index out of range
print(name[17])

In [22]:
print(name[-1])

a

In [23]:
print(name[-4])

a

In [24]:
print(name[-5])

v

In [25]:
str = "pratap sarvaiya"
str[0] = 'x'

TypeError: 'str' object does not support item assignment

In [26]:
# String concating as well as join : concatenation operater

first_name = "pratap"
last_name = "Sarvaiya"
complete_name = first_name + last_name
print(complete_name)

pratapSarvaiya

In [27]:
# now you will be use in space
first_name = "pratap"
last_name = "Sarvaiya"
complete_name = first_name +" "+ last_name
print(complete_name)

pratap Sarvaiya

In [29]:
# length of the string
print(len(complete_name))

15

In [31]:
#Slicing 
str = "pratap sarvaiya"
print(str[2:5])

ata

In [32]:
# start from 2 and continue end of element
print(str[2:])

atap Sarvaiya

In [33]:
# start from 0 to end 12
print(str[:12])

pratap Sarva

In [34]:
# start from begin and end of element
print(str[:])

pratap Sarvaiya

In [36]:

print(str[-13:-3])

atap Sarva

In [39]:
print(str[-14:12])

ratap Sarva

In [48]:
# all this method is a create a new string

str = "  pratap sarvaiya"
print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.strip())

  PRATAP SARVAIYA
  pratap sarvaiya
  pratap sarvaiya
pratap sarvaiya

In [50]:
# replace method and you choose 2 times change you use optional parameter

str = "Hello dear, I am very good, I am very nice, I am Wow"
print(str.replace("I am","We are",2))

Hello dear, We are very good, We are very nice, I am Wow

In [51]:
# Escape character

print("Hello \n pratap")  # \n is used to new line

Hello
 pratap

In [52]:
print("Hello \t pratap")  # \t is used to space in two word

Hello 	 pratap

In [56]:
print("sarvaiya \"pratap\"")   # \"pratap\" Escape character

sarvaiya "pratap"