In [ ]:
# Set data type :-- 1] no duplicate / all elements are unique
                    2] Mutable
                    3] Un-orderd
                    4] Hetrogeneus

In [1]:
my_set = {1,2,3,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 5}
<class 'set'>

In [4]:
# ensures that there are not duplicate ::-- one value is not repeat ordered set

s1 = {1,4,5,2,1,9,7,4,1}
print(s1)
print(type(s1))

{1, 2, 4, 5, 7, 9}
<class 'set'>

In [5]:
# Empty set

s2 = set()
print(s2)
print(type(s2))

set()
<class 'set'>

In [ ]:
s3 = set({5,6,7})
print(s3)

In [7]:
# undorderd data set

s = set()

s.add(5)
s.add(12)
s.add(13)
s.add(5)
s.add(69)
print(s)

{13, 69, 12, 5}

In [8]:
# Remove

s1 = {3,9,7,4}
print(s1.discard(7))
print(s1)

None
{9, 3, 4}

In [11]:
# if element is set not then error show but discard is not error
s1.remove(12)
print(s1)

KeyError: 12

In [12]:
# Frozenset :- immutable set

fs = frozenset([1,2,3])
print(fs)
print(type(fs))

frozenset({1, 2, 3})
<class 'frozenset'>

In [13]:
fs2 = frozenset({1,2,3})
print(fs2)

frozenset({1, 2, 3})

In [14]:
dict1 = {fs2 :"Pratap"}
print(dict1)

{frozenset({1, 2, 3}): 'Pratap'}

In [15]:
# Type casting :- Implicit,explicit

x = 5
y = 6.5
result = x+y
print(result)

11.5

In [16]:
# int type casting

y='10'
print(type(y))
int_y = int(y)
print(type(int_y))

<class 'str'>
<class 'int'>

In [17]:
str()
int()
float()

0.0

In [18]:
# Incompitable

data = 'one'
print(int(data))

ValueError: invalid literal for int() with base 10: 'one'