In [1]:
# Tuple : tuple is immutable

tup1 = (3,6,1,9,10)
print(tup1)
print(type(tup1))

(3, 6, 1, 9, 10)
<class 'tuple'>

In [3]:
t1 = tuple([1,2,4])
print(t1)
print(type(t1))

(1, 2, 4)
<class 'tuple'>

In [5]:
t2 = tuple("pratap")
t3 = tuple(tup1)
print(t2,t3)

('p', 'r', 'a', 't', 'a', 'p') (3, 6, 1, 9, 10)

In [6]:
t = (35)
print(type(t))

<class 'int'>

In [7]:
# " , "   comma is indicate to collection of item

t = (35,)
print(type(t))

<class 'tuple'>

In [8]:
fruits = ('apple','mango','banana','apple','mango','apple','strawberry')

print(fruits.count('apple'))

3

In [9]:
fruits = ('apple','mango','banana','apple','mango','apple','strawberry')

print(fruits.count('jackfruits'))

0

In [10]:
# not present in a fruit

fruits = ('apple','mango','banana','apple','mango','apple','strawberry')

print(fruits.index('jackfruits'))

ValueError: tuple.index(x): x not in tuple

In [11]:
fruits = ('apple','mango','banana','apple','mango','apple','strawberry')

print(fruits.index('mango'))

1

In [12]:
fruits = ('apple','mango','banana','apple','mango','apple','strawberry')

print(len(fruits))

7

In [13]:
print(fruits[3])
print(fruits[-3])

apple
mango

In [14]:
# error because tuple is immutable

fruits[3] = 'jackfruit'
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [15]:
# fruits = ('apple','mango','banana','apple','mango','apple','strawberry')

print(fruits[2:7])

('banana', 'apple', 'mango', 'apple', 'strawberry')