In [94]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({"description":["PW Skills is your one-stop-shop for upscaling. Get maximum value for time and resources you invest, with job-ready courses & high-technology, available at the lowest cost."]})

In [6]:
df1

                                         description
0  PW Skills is your one-stop-shop for upscaling....

In [4]:
pd.set_option('display.max_colwidth',1000)

In [5]:
df1

                                                                                                                                                                   description
0  PW Skills is your one-stop-shop for upscaling. Get maximum value for time and resources you invest, with job-ready courses & high-technology, available at the lowest cost.

In [7]:
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)

In [8]:
df1

                                         description
0  PW Skills is your one-stop-shop for upscaling....

In [8]:
len('pw skilla')

9

In [11]:
df1["cahr_len"] = df1['description'].apply(len)

In [12]:
df1

                                         description  cahr_len
0  PW Skills is your one-stop-shop for upscaling....       171

In [13]:
a = "I am pratap"
len(a)

11

In [14]:
a.split()

['I', 'am', 'pratap']

In [15]:
len(a.split())

3

In [17]:
df1["word_count"] = df1["description"].apply(lambda x: len(x.split()))

In [18]:
df1["word_count"]

0    26
Name: word_count, dtype: int64

In [19]:
df1

                                         description  cahr_len  word_count
0  PW Skills is your one-stop-shop for upscaling....       171          26

In [20]:
data = {'text':['Hello data science','I love ml','I read ml book']}
a = pd.DataFrame(data)

In [21]:
data

{'text': ['Hello data science', 'I love ml', 'I read ml book']}

In [22]:
a

                 text
0  Hello data science
1           I love ml
2      I read ml book

In [25]:
a["text_lower"] = a['text'].str.lower()

In [26]:
a["text_lower"]

0    hello data science
1             i love ml
2        i read ml book
Name: text_lower, dtype: object

In [27]:
a["text_upper"] = a['text'].str.upper()

In [29]:
a

                 text          text_lower          text_upper
0  Hello data science  hello data science  HELLO DATA SCIENCE
1           I love ml           i love ml           I LOVE ML
2      I read ml book      i read ml book      I READ ML BOOK

In [31]:
a['text'][0].startswith('H')

True

In [32]:
a['text'][1].startswith('H')

False

In [33]:
a['text'][1].startswith('I')

True

In [34]:
df1 = pd.DataFrame({'a':[1,2,4,5,6],
                     'b':[4,5,6,7,8]})
df1

   a  b
0  1  4
1  2  5
2  4  6
3  5  7
4  6  8

In [37]:
df1['mul_a'] = df1['a'] * 5

In [38]:
df1

   a  b  mul_a
0  1  4      5
1  2  5     10
2  4  6     20
3  5  7     25
4  6  8     30

In [39]:
df1.a.mean()

3.6

In [40]:
df1.a.median()

4.0

In [41]:
df1.a.mode()

0    1
1    2
2    4
3    5
4    6
Name: a, dtype: int64

In [42]:
df1.a.min()

1

In [43]:
df1.a.max()

6

In [44]:
df1.a.sum()

18

In [45]:
df1.a.var()

4.3

In [46]:
df1.a.describe()

count    5.000000
mean     3.600000
std      2.073644
min      1.000000
25%      2.000000
50%      4.000000
75%      5.000000
max      6.000000
Name: a, dtype: float64

In [47]:
df2 = pd.DataFrame({'a':[1,2,3,4,5,6,7,8,9]})
df2

   a
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [48]:
df2.a.mean()

5.0

In [49]:
df2.rolling(window = 1).mean()

     a
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0
5  6.0
6  7.0
7  8.0
8  9.0

In [50]:
df2.rolling(window = 2).mean()

     a
0  NaN
1  1.5
2  2.5
3  3.5
4  4.5
5  5.5
6  6.5
7  7.5
8  8.5

In [51]:
df2.rolling(window = 3).mean()

     a
0  NaN
1  NaN
2  2.0
3  3.0
4  4.0
5  5.0
6  6.0
7  7.0
8  8.0

In [58]:
df3 = df2.rolling(window = 3).mean()
df3

     a
0  NaN
1  NaN
2  2.0
3  3.0
4  4.0
5  5.0
6  6.0
7  7.0
8  8.0

In [59]:
df3.dropna(inplace=True)

In [60]:
df3

     a
2  2.0
3  3.0
4  4.0
5  5.0
6  6.0
7  7.0
8  8.0

In [72]:
# Typecasting

df3['a_int'] = df3['a'].astype(int)
df3

KeyError: 'a'

In [74]:
df2.rolling(window = 2).sum()

      a
0   NaN
1   3.0
2   5.0
3   7.0
4   9.0
5  11.0
6  13.0
7  15.0
8  17.0

In [ ]:
df2.rolling(window = 2).min()

In [75]:
df2

   a
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [76]:
df2.rolling(window = 2).max()

     a
0  NaN
1  2.0
2  3.0
3  4.0
4  5.0
5  6.0
6  7.0
7  8.0
8  9.0

In [78]:
import numpy as np
np.random.choice(['A','B'])

'B'

In [80]:
df2['Group'] = np.random.choice(['A','B'], size = 9)

In [81]:
df2

   a Group
0  1     B
1  2     B
2  3     A
3  4     A
4  5     A
5  6     A
6  7     B
7  8     A
8  9     B

In [83]:
# groupby with rolling sum
df2.groupby('Group')['a'].rolling(window=2).sum()

Group
A      2     NaN
       3     7.0
       4     9.0
       5    11.0
       7    14.0
B      0     NaN
       1     3.0
       6     9.0
       8    16.0
Name: a, dtype: float64

In [85]:
df2.a.cumsum()   # cummulative sum

0     1
1     3
2     6
3    10
4    15
5    21
6    28
7    36
8    45
Name: a, dtype: int64

In [2]:
import pandas as pd
df = pd.DataFrame({"Date":['2024-03-08','2024-03-09','2024]-03-10']})

In [3]:
df

          Date
0   2024-03-08
1   2024-03-09
2  2024]-03-10

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [90]:
df.dtypes

Date    object
dtype: object

In [6]:
pd.to_datetime(df["date"])

KeyError: 'date'

In [7]:
df.dtypes

Date    object
dtype: object

In [8]:
# the time now
pd.Timestamp.now()

Timestamp('2024-08-14 16:03:50.943017')

In [14]:
# to check the execution/run time of a code
start = pd.Timestamp.now()
for i in range(1000):
    pass
end = pd.Timestamp.now()
print("Time taken for the execution of code", end-start)

Time taken for the execution of code 0 days 00:00:00

In [15]:
#another way
import time
start = time.time()
for i in range(1000):
    pass
end = time.time()
print("Time taken for the execution of code in seconds", end-start)

Time taken for the execution of code in seconds 0.0

In [17]:
# one more way to check the execution time
import time 
start = time.perf_counter()
for i in range(1000):
    pass
end = time.perf_counter()
print("Time taken for the execution of code in seconds", end-start)

Time taken for the execution of code in seconds 8.569999999963329e-05

In [18]:
# to know date and time after a week exactly

start = pd.Timestamp.now() - pd.DateOffset(weeks=1)
start

Timestamp('2024-08-07 16:18:02.761546')

In [19]:
end = pd.Timestamp.now()
end

Timestamp('2024-08-14 16:19:02.687567')

In [20]:
end-start

Timedelta('7 days 00:00:59.926021')

In [21]:
from datetime import datetime
date = "2024-07-10"
date

'2024-07-10'

In [23]:
date = datetime.strptime(date,"%Y-%m-%d")

In [24]:
date

datetime.datetime(2024, 7, 10, 0, 0)

In [25]:
print(date)

2024-07-10 00:00:00

In [27]:
time = pd.Timedelta(days = 1,hours = 5,minutes=40)
time

Timedelta('1 days 05:40:00')

In [28]:
dt = pd.to_datetime("2024-07-10")
dt

Timestamp('2024-07-10 00:00:00')

In [29]:
dt+time

Timestamp('2024-07-11 05:40:00')

In [33]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (0.2.41)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.31 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (3.11.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.26.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: html5lib>=1.1 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (3.17.6)
Requirement already satisfied: lxml>=4.9.1 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (5.3.0)
Requirement already satisfied: pandas>=1.3.0 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (3.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pratap sarvaiya\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (2.0.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: C:\Users\Pratap sarvaiya\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [30]:
import yfinance as yf

ModuleNotFoundError: No module named 'yfinance'