In [1]:
# input data read is called as string

input()

 pratap

'pratap'

In [2]:
input()

 85

'85'

In [5]:
name = input()
print(name)

 pratap sarvaiya

pratap sarvaiya

In [7]:
age = input("please sir, enter your age in years")
print(age)

please sir, enter your age in years 566

566

In [9]:
# output in the world of python
print("I am pratap")

I am pratap

In [10]:
# multiple argument seprated by commma

name = "pratap"
age = 99
print("Hello, my name is ",name,"and my age is ",age)

Hello, my name is  pratap and my age is  99

In [11]:
# Support for the formatted string
print(f"My name is {name} and age is {age}")

My name is pratap and age is 99

In [13]:
x=2
y=3
z=4
print(x,y,z,sep="$")

2$3$4

In [15]:
# this code is run on one line
print("Hello")
print("World")
print("!")

Hello
World
!

In [17]:
print("Hello",end=" ")
print("World",end="")
print("!")

Hello World!